body {
  background: linear-gradient(
    rgba(198, 255, 239, 0.905) rgba(252, 226, 255, 0.722)
      rgba(198, 255, 239, 0.905)
  );
}
.backgroung {
  max-width: 880px;
  max-height: 550px;
  margin: 5% 25%;
  background: linear-gradient(
    rgb(235, 253, 255),
    rgb(249, 238, 254),
    rgb(235, 253, 255)
  );
  box-shadow: 0px 1px 26px 10px rgba(127, 108, 127, 0.712);
  border-radius: 15px;
  color: rgb(48, 58, 97);
  padding: 0% 2% 0% 3%;
  font-family: "Quicksand", sans-serif;
  display: block;
}
.currentCity {
  font-size: 300%;
  font-weight: bold;
  position: relative;
  left: 100px;
  top: -10px;
}
.now {
  font-weight: lighter;
  font-size: 80%;
}
.img_now {
  position: relative;
  top: -70px;
  left: -25px;
}
.currentTime {
  color: rgb(58, 63, 83);
  font-weight: bold;
}
.temperature_now {
  font-size: 340%;
  position: relative;
  top: -110px;
  left: 100px;
}
.container {
  position: relative;
  top: -170px;
  color: rgb(22, 17, 72);
  font-size: 90%;
  cursor: default;
}
.col-1 {
  font-weight: bolder;
}
.monthNight {
  font-weight: lighter;
}
.row {
  font-size: 175%;
  font-weight: 300;
}
form {
  position: relative;
  text-align: right;
  top: -590px;
  left: 40px;
}
.user_city {
  margin: 0 auto;
  text-align: center;
  display: block auto;
  padding: 0.5% 5%;
  font-family: "Quicksand", sans-serif;
  font-size: 120%;
  font-style: italic;
  color: rgb(28, 42, 119);
  background-color: rgba(255, 255, 252, 0.798);
  border-radius: 50px;
  border-color: rgba(154, 188, 252, 0.323);
  transition: all 300ms ease-in-out;
}
.user_city:hover {
  cursor: text;
  background-color: rgb(248, 236, 255);
  font-weight: bold;
}
.buttonUserEnter {
  text-align: center;
  padding: 7px 13px;
  background-color: rgba(212, 255, 244, 0.883);
  border-radius: 40px;
  border: 2px solid rgba(126, 152, 200, 0.323);
  position: relative;
  top: 11px;
  left: -55px;
}
.buttonUserEnter:hover {
  background-color: rgb(248, 236, 255);
}
.buttonLocation {
  text-align: center;
  padding: 0.3% 1.4%;
  background-color: rgba(212, 255, 244, 0.883);
  border-radius: 50px;
  border: 2px solid rgba(126, 152, 200, 0.323);
  position: relative;
  top: -627px;
  left: 488px;
}
.buttonLocation:hover {
  background-color: rgb(248, 236, 255);
}
.sun {
  font-size: 50%;
}
.news {
  position: relative;
  text-align: right;
  top: -200px;
  font-size: 120%;
  color: rgb(58, 63, 83);
}
.currentTime {
  position: relative;
  text-align: left;
  top: -200px;
  left: 105px;
}
.units {
  font-size: 25px;
  position: relative;
  top: -5px;
  left: 0px;
}
.linkC {
  text-decoration: none;
  color: rgb(151, 63, 202);
}
.maxCelsius {
  color: rgb(175, 77, 232);
}
.descriptionClass {
  position: relative;
  top: -223.5px;
  left: 250px;
  color: rgb(58, 63, 83);
  font-weight: bold;
}
.todayMaximum {
  position: relative;
  top: -215px;
  left: 250px;
  color: rgb(58, 63, 83);
}
.humidity {
  position: relative;
  top: -220px;
  left: 250px;
  color: rgb(58, 63, 83);
}
.humidityClass {
  color: rgb(175, 77, 232);
}
.repository {
  position: relative;
  color: rgb(58, 63, 83);
  top: -170px;
  left: -55px;
  font-weight: bolder;
  width: 50%;
}
